<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyc.video">

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application>
        <service
            android:name=".record.ShareService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="true" />

        <activity
            android:name=".record.ShareMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CameraGLSurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AudioDrawnActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TreeViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CameraSurfaceViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/wyc_video_ActivityTheme" />
        <activity
            android:name=".activity.VideoRelatedActivity"
            android:exported="true"
            android:theme="@style/wyc_video_ActivityTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>