<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyc.video">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".activity.AudioDrawnActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TreeViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CameraSurfaceViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/wyc_video_ActivityTheme" />
        <activity
            android:name=".activity.VideoRelatedActivity"
            android:exported="true"
            android:theme="@style/wyc_video_ActivityTheme" />
    </application>

</manifest>